# .gitingore file for Home Assistant configuration
*
!*/
!**/*.yaml
!**/*.yml
!.gitignore
!*.md
!*.sh
!*.js*
!node-red/
.cloud/
.storage/
.google.token/
.ssh/
.vscode/
custom_components/
deps/
esphome/
image/
tts/
www/
*.log
*.log.txt
*.db
id_rsa*
ip_bans.yaml
secrets.yaml
known_devices.yaml
