# .gitingore file for Home Assistant configuration

# Ignore everything by default
*

# Allow specific directories so their contents can be included
!automations/
!packages/
!scripts/
!templates/
!themes/

# Allow specific file types globally
!.gitignore
!**/*.yaml
!**/*.md
!**/*.sh

# Explicitly ignore secrets.yaml (since !**/*.yaml would otherwise include it)
secrets.yaml