# Loads default set of integrations. Do not remove.
default_config:

homeassistant:
  packages: !include_dir_named packages

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
binary_sensor: !include binary_sensors.yaml
template: !include_dir_merge_list ./templates
automation custom: !include_dir_merge_list ./automations
script custom: !include_dir_merge_named ./scripts

mqtt:
  sensor:
    - name: "Water Meter Usage"
      state_topic: "watermeter/0/sensor/mydatajson"
      unit_of_measurement: "m³"
      value_template: "{{ value_json.CurrentValue }}"
      device_class: water
      state_class: total_increasing
      availability:
        - topic: "watermeter/0/online"
          payload_available: "True"
          payload_not_available: "False"
    - name: "Water Meter Month Start Value"
      state_topic: "watermeter/0/sensor/mydatajson"
      unit_of_measurement: "m³"
      value_template: "{{ value_json.MonthStartValue }}"
      device_class: water
      state_class: total_increasing
    - name: "Water Meter Room Temperature"
      state_topic: "watermeter/0/sensor/mydatajson"
      value_template: "{{ value_json.RoomTemp }}"
      unit_of_measurement: "°C"
    - name: "Water Meter Water Temperature"
      state_topic: "watermeter/0/sensor/mydatajson"
      value_template: "{{ value_json.WaterTemp }}"
      unit_of_measurement: "°C"

shell_command:
  pushupdates_to_github: /bin/bash pushupdates.sh

o365:
  accounts:
    - account_name: MicrosoftAccount
      client_secret: "Fhy8Q~BbCcoYe1OBujQZzlbc~qefn5zQQKu5aaIW"
      client_id: "20944008-c898-4168-a8bf-c9679236e860"
      alt_auth_method: False
      enable_update: True
      todo_sensors:
        enabled: False
        enable_update: True # set this to true if you want to be able to create new todos
