# Loads default set of integrations. Do not remove.
default_config:

homeassistant:
  packages: !include_dir_named packages

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
binary_sensor: !include binary_sensors.yaml
template: !include_dir_merge_list ./templates
automation custom: !include_dir_merge_list ./automations
script custom: !include_dir_merge_named ./scripts

mqtt:
  sensor:
    - name: "Water Meter Usage"
      state_topic: "watermeter/0/sensor/mydatajson"
      unit_of_measurement: "m³"
      value_template: "{{ value_json.CurrentValue }}"
      device_class: water
      state_class: total_increasing
      availability:
        - topic: "watermeter/0/online"
          payload_available: "True"
          payload_not_available: "False"
    - name: "Water Meter Month Start Value"
      state_topic: "watermeter/0/sensor/mydatajson"
      unit_of_measurement: "m³"
      value_template: "{{ value_json.MonthStartValue }}"
      device_class: water
      state_class: total_increasing
    - name: "Water Meter Room Temperature"
      state_topic: "watermeter/0/sensor/mydatajson"
      value_template: "{{ value_json.RoomTemp }}"
      unit_of_measurement: "°C"
    - name: "Water Meter Water Temperature"
      state_topic: "watermeter/0/sensor/mydatajson"
      value_template: "{{ value_json.WaterTemp }}"
      unit_of_measurement: "°C"

shell_command:
  pushupdates_to_github: /bin/bash pushupdates.sh
  tado_get_token: curl -s -X GET https://auth.tado.com/oauth/token -d client_id=tado-web-app -d grant_type=password -d scope=home.user -d username={{ username }} -d password={{ password }} -d client_secret={{ client_secret }}
  tado_get_token1: curl -s -X GET https://auth.tado.com/oauth/token -d client_id=tado-web-app -d grant_type=password -d scope=home.user -d username=anders@busted-janum.dk -d password=kumDud-zersam-4tapme -d client_secret=wZaRN7rpjn3FoNyF5IFuxg9uMzYJcvOoQ8QWiIqS3hfk6gLhVlG57j5YNoZL2Rtc

rest_command:
  tado_get_auth:
    url: "https://auth.tado.com/oauth/token"
    method: "POST"
    headers:
      Content-Type: "application/x-www-form-urlencoded"
    payload: "client_id=tado-web-app&grant_type=password&scope=home.user&username=anders@busted-janum.dk&password=kumDud-zersam-4tapme&client_secret=wZaRN7rpjn3FoNyF5IFuxg9uMzYJcvOoQ8QWiIqS3hfk6gLhVlG57j5YNoZL2Rtc"


rest_command:
  tado_get_auth:
    url: "https://auth.tado.com/oauth/token"
    method: "POST"
    headers:
      Content-Type: "application/x-www-form-urlencoded"
    payload: "client_id=tado-web-app&grant_type=password&scope=home.user&username=anders@busted-janum.dk&password=kumDud-zersam-4tapme&client_secret=wZaRN7rpjn3FoNyF5IFuxg9uMzYJcvOoQ8QWiIqS3hfk6gLhVlG57j5YNoZL2Rtc"
  tado_get_auth_token:
    url: "https://auth.tado.com/oauth/token"
    method: "POST"
    headers:
      Content-Type: "application/x-www-form-urlencoded"
    payload: "client_id=tado-web-app&grant_type=password&scope=home.user&username={{ secrets.tado_username }}&password={{ secrets.tado_password }}&client_secret={{ secrets.tado_client_secret }}"
