# Loads default set of integrations. Do not remove.
default_config:

homeassistant:
  packages: !include_dir_named packages

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
sensor: !include sensors.yaml
binary_sensor: !include binary_sensors.yaml
template: !include_dir_merge_list ./templates
automation custom: !include_dir_merge_list ./automations
script custom: !include_dir_merge_named ./scripts

shell_command:
  pushupdates_to_github: "/bin/bash pushupdates.sh"
  append_to_file: '/bin/bash append_to_file.sh "{{ file }}" "{{ line }}"'

rest_command:
  tado_get_auth_token:
    url: "https://auth.tado.com/oauth/token"
    method: "POST"
    headers:
      Content-Type: "application/x-www-form-urlencoded"
    payload: "client_id=tado-web-app&grant_type=password&scope=home.user&username={{ secrets.tado_username }}&password={{ secrets.tado_password }}&client_secret={{ secrets.tado_client_secret }}"
  tado_get_profile:
    url: "https://my.tado.com/api/v2/me"
    method: "GET"
    headers:
      Authorization: "Bearer {{ bearer_token }}"
  tado_get_rooms_and_devices:
    url: "https://hops.tado.com/homes/{{ home_id }}/roomsAndDevices?ngsw-bypass=true"
    method: "GET"
    headers:
      Authorization: "Bearer {{ bearer_token }}"
  perfect_waste_get_next_address_collection:
    url: "https://europe-west3-perfect-waste.cloudfunctions.net/getNextAddressCollection"
    method: "POST"
    headers:
      Content-Type: "application/json"
    payload: "{ \"data\": { \"addressID\": \"{{ addressID }}\", \"municipality\": {{ municipality }} } }"
  smart_me_power_meter:
    url: "https://api.smart-me.com:443/api/Devices/1f5ed030-14f9-4ed0-a2f5-a005389a53e1"
    method: "GET"
    headers:
      Authorization: "basic {{ basic_token }}"

command_line:
  - sensor:
      name: meter_reading_electricity_command_line
      command: "cat /config/data/meter_reading_electricity.csv"
      value_template: >
        {% set lines = value.split('\n') | reject('equalto','') | list %}
        {% if lines | count > 0 %}
          {{ lines[-1].split(',')[1] | float }}
        {% else %}
          unknown
        {% endif %}

