# Loads default set of integrations. Do not remove.
default_config:

homeassistant:
  packages: !include_dir_named packages
  allowlist_external_dirs:
    - /config/data

python_script:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

sensor: !include_dir_merge_list ./sensors
binary_sensor: !include binary_sensors.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
template: !include_dir_merge_list ./templates
automation custom: !include_dir_merge_list ./automations
script custom: !include_dir_merge_named ./scripts

logger:
  logs:
    aiohue.util: warning
system_log:
  fire_event: true    

shell_command:
  pushupdates_to_github: "/bin/bash pushupdates.sh"
  append_to_file: '/bin/bash append_to_file.sh "{{ file }}" "{{ line }}"'
  csv_to_json: "/bin/bash csv_to_json.sh {{ csvfile }} {{ jsonfile }}"
  unifi_speedtest: "/bin/bash /config/bash_scripts/unifi_speedtest.sh {{ user }} {{ password }}"

command_line:
  - sensor:
      name: unifi_gateway_speedtest
      command: "/config/scripts/unifi_speedtest.sh"
      scan_interval: 3600
      value_template: "{{ value_json.xput_download }}"
      unit_of_measurement: "Mbps"
      json_attributes:
        - xput_upload
        - latency
        - rundate

rest_command:
  tado_get_verification_uri:
    url: "https://login.tado.com/oauth2/device_authorize?client_id=1bb50063-6b0c-4d11-bd99-387f4a91cc46&scope=offline_access"
    method: "POST"
  tado_get_refresh_token:
    url: "https://login.tado.com/oauth2/token?client_id=1bb50063-6b0c-4d11-bd99-387f4a91cc46&device_code={{ device_code }}&grant_type=urn:ietf:params:oauth:grant-type:device_code"
    method: "POST"
  tado_get_access_token:
    url: "https://login.tado.com/oauth2/token?client_id=1bb50063-6b0c-4d11-bd99-387f4a91cc46&grant_type=refresh_token&refresh_token={{ refresh_token }}"
    method: "POST"
  tado_get_profile:
    url: "https://my.tado.com/api/v2/me"
    method: "GET"
    headers:
      Authorization: "Bearer {{ bearer_token }}"
  tado_get_rooms_and_devices:
    url: "https://hops.tado.com/homes/{{ home_id }}/roomsAndDevices?ngsw-bypass=true"
    method: "GET"
    headers:
      Authorization: "Bearer {{ bearer_token }}"
  perfect_waste_get_next_address_collection:
    url: "https://europe-west3-perfect-waste.cloudfunctions.net/getNextAddressCollection"
    method: "POST"
    headers:
      Content-Type: "application/json"
    payload: '{ "data": { "addressID": "{{ addressID }}", "municipality": {{ municipality }} } }'
